body {
    font-family: 'Kavoon', cursive;
    background-color: #065D01;
    display: grid;
    justify-content: center;
    align-items: flex-start;
}

.title {
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    position: relative;
    display: grid;
}

.subtitle {
    margin-top: 110px;
    color: yellow;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.startButton {
    border-radius: 50%;
    background-color: rgb(30, 210, 39);
    font-weight: bold;
    font-size: 2em;
    height: 150px;
    width: 220px;
    align-items: center;
}

.buttonGame {
    align-items: center;
    justify-content: center;
    display: grid;
    margin-top: 180px;
    position: absolute;
}

.timer {
    display: inline-block;
    margin-right: 20px;
}

.score {
    display: inline-block;
    margin-left: 20px;
    
}

#myCanvas {
    border-radius: 5px;
    
    
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente */
    cursor: pointer; /* Ou pointer, ou até uma imagem customizada */
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: chocolate;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.resetButton {
    font-family: "BBH Sans Hegarty", sans-serif;
    border-radius: 5px;
}

.message {
    color: rgb(255, 179, 0);
    background-color: darkred;
    font-size: 1.2em;
    padding: 6px;
    text-align: center;
}